<%- include('partials/header.ejs') %>

  <body class="avatarbody">
    <!-- Nav -->
    <header class="navbar">
      <nav>
        <section class="navContainer">
          <section>
            <img class="logo" src="/assets/_c329f736-c0ec-4f70-b64f-db3066f2d096.jpg" alt="logo" />
            <p>DOUBLEPUMP</p>
          </section>
          <ul class="navbar-nav">
            <li>
              <a href="/avatar"><i class="bx bx-male-female"></i> Personages</a>
            </li>
            <li>
              <a class="active" href="/favorieten"><i class="bx bxs-heart"></i> Favorieten</a>
            </li>
            <li>
              <a href="/zwartelijst"><i class="bx bxs-x-circle"></i> Zwarte lijst</a>
            </li>
            <li class="profile">
              <img src="<%= profilePicture %>" alt="Profile Picture" class="profile-picture-nav">
              <a href="/profiel">
                <%= username %>
              </a>
            </li>
          </ul>
        </section>
      </nav>
    </header>

    <main>
      <section class="search-container">
        <form action="/favorieten" method="get" class="search-form">
          <input type="text" name="avatarName" placeholder="Zoeken naar avatar " value="<%= avatarName %>"
            class="search-input">
          <button type="submit" class="search-button">Zoeken</button>
        </form>
         <!-- 
        <div class="sort-dropdown">
          <label for="sort-by">Sorteer op:</label>
          <select id="sort-by">
            <option value="relevance">Relevantie</option>
            <option value="date">Datum</option>
            <option value="popularity">Populariteit</option>
          </select>
        </div>
          -->
      </section>
      <% const fortniteTiers={ "Common" : "rgba(128, 128, 128, 1)" , "Uncommon" : "rgba(0, 128, 0, 1)" , "Rare"
        : "rgba(0, 0, 255, 1)" , "Epic" : "rgba(128, 0, 128, 1)" , "Legendary" : "rgba(255, 165, 0, 1)" , "Mythic"
        : "rgba(255, 215, 0, 1)" , "Exotic" : "rgba(0, 255, 255, 1)" , "Transcendent" : "rgba(255, 255, 179, 1)"
        , "Marvel Series" : "rgba(139, 0, 0, 1)" , "Dark Series" : "rgba(255, 0, 255, 1)" , "DC Series"
        : "rgba(112, 128, 144, 1)" , "Icon Series" : "rgba(0, 255, 255, 1)" , "Frozen Series" : "rgba(173,216,230, 1)"
        , "Lava Series" : "rgba(255, 140, 0, 1)" , "Star Wars Series" : "rgba(0, 0, 139, 1)" , "Shadow Series"
        : "rgba(0, 0, 0, 1)" , "Slurp Series" : "rgba(0, 139, 139, 1)" , "Gaming Legends Series" : "rgba(75, 0, 130, 1)"
        , }; %>
        <section class="avatars">
          <% for (let i=0; i < characters.length; i++) { %>
            <article class="avatar">
              <a href="#" data-bs-target="#myModal" data-bs-toggle="modal"
                onclick="getCharacterDetails('<%= characters[i].item.id %>')">
                <% if (characters[i].item.series && characters[i].item.series.id) { %>
                  <img src="<%= characters[i].item.images.icon %>"
                    style="background-image: url('https://media.fortniteapi.io/images/textures/<%= characters[i].item.series.id %>.png'); background-position: center; background-size: contain; background-repeat: no-repeat;"
                    alt="<%= characters[i].item.name %>" />
                  <% } else { %>
                    <img src="<%= characters[i].item.images.icon %>"
                      style="background-color: <%= fortniteTiers[characters[i].item.rarity.id] %>;background-position: center;"
                      alt="<%= characters[i].item.name %>" />
                    <% } %>
              </a>

              <p>
                <%= characters[i].item.name %>
              </p>
            </article>
            <% } %>
        </section>
    </main>
    <section class="modal fade" id="myModal" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
      <article class="modal-dialog favorieten-modal-dialog">
        <article class="modal-content">

          <section class="modal-header">
            <button type="button" class="btn-close bg-light" data-bs-dismiss="modal" aria-label="Sluiten"></button>
          </section>

          <section class="modal-body">
            <section class="left-section">
              <h2 id="modal-title">Personage Naam</h2>
              <video id="modal-video" width="450px" height="450px" loop autoplay playsline>
                <!-- Voeg 'controls' als attribuut om bv te kunnen pauzeren -->
                <source src="">
              </video>
            </section>

            <section class="right-section">
              <h3 class="outfit-type">Rare Outfit</h3>
              <img class="v-buck" src="/assets/one-v-buck-dpf.png" alt="vbuck" />
              <p class="outfit-price">
                <span class="price">1,200</span>
              </p>
              <p class="outfit-description">Venture beyond the ninth life.</p>
              <hr />
              <ul class="row">
                <li class="col">
                  <section class="dropdown1">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="backpackDropdown"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Selecteer rugzak
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="backpackDropdown">
                      <li>
                        <label class="dropdown-item">
                          <input type="checkbox" id="modal1" class="modal-toggle" />
                          <img src="/assets/_40ee15ba-8b35-49a9-b94a-cc0830f40257.jpg" alt="Rugzak 1"
                            class="dropdown-item-image" />
                          <span class="item-name">Rugzak 1</span>
                          <div class="modal" id="modal1-content">
                            <div class="modal-content">
                              <label for="modal1" class="modal-overlay"></label>
                              <img src="/assets/_40ee15ba-8b35-49a9-b94a-cc0830f40257.jpg" alt="Rugzak 1" />
                            </div>
                          </div>
                        </label>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <img src="/assets/_c329f736-c0ec-4f70-b64f-db3066f2d096.jpg" alt="Rugzak 2"
                            class="dropdown-item-image" />
                          <span class="item-name">Rugzak 2</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <img src="/assets/popje8.jpeg" alt="Rugzak 3" class="dropdown-item-image" />
                          <span class="item-name">Rugzak 3</span>
                        </a>
                      </li>
                    </ul>
                  </section>
                </li>
                <li class="col">
                  <section class="dropdown2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="pickaxeDropdown"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Selecteer wapen
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="pickaxeDropdown">
                      <li>
                        <a class="dropdown-item" href="#">
                          <img src="/assets/_40ee15ba-8b35-49a9-b94a-cc0830f40257.jpg" class="dropdown-item-image" />
                          <span class="item-name">wapen 1</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <img src="/assets/_c329f736-c0ec-4f70-b64f-db3066f2d096.jpg" class="dropdown-item-image" />
                          <span class="item-name">wapen 2</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">
                          <img src="/assets/popje8.jpeg" class="dropdown-item-image" />
                          <span class="item-name">wapen 3</span>
                        </a>
                      </li>
                    </ul>
                  </section>
                </li>
              </ul>
              <ul class="row mt-3">
                <li class="col">
                  <p>Wins: <span id="wins-count">0</span></p>
                  <section>
                    <button type="button" class="btn btn-success" onclick="increaseWins()">
                      +1 Win
                    </button>
                    <button type="button" class="btn btn-warning" onclick="decreaseWins()">
                      -1 Win
                    </button>
                  </section>
                </li>
                <li class="col">
                  <p>Losses: <span id="losses-count">0</span></p>
                  <section>
                    <button type="button" class="btn btn-danger" onclick="increaseLosses()">
                      +1 Loss
                    </button>
                    <button type="button" class="btn btn-warning" onclick="decreaseLosses()">
                      -1 Loss
                    </button>
                  </section>
                </li>
              </ul>
            </section>
          </section>
          <textarea class="notes-section mt-3" id="notes" placeholder="Voeg notities toe"
            style="height: 200px;"></textarea>
          <footer class="modal-footer">
            <button type="button" class="btn btn-secondary me-3" data-bs-dismiss="modal">
              Sluiten
            </button>
            <button type="button" class="btn btn-primary me-3">Opslaan</button>
            <button type="button" class="btn btn-danger">Zwarte Lijst</button>
          </footer>
    </section>
    </article>
    </article>
    </section>

    <button onclick="topFunction()" id="myBtn" title="Go to top">
      <i class="bx bxs-up-arrow"></i>
    </button>

    <script>
      async function getCharacterDetails(id) {
        // Reset modal fields
        document.getElementById('modal-video').src = '';
        // Fetch character details
        await fetch(`/api/characters/${id}`)
          .then(response => response.json())
          .then(data => {
            document.getElementById('modal-video').src = data.item.previewVideos[0].url;
          });
      }
    </script>
  </body>

  </html>