<%- include('partials/header.ejs') %>

<body class="profilebody">
    <header>
        <nav>
            <section class="navContainer">
                <section>
                    <img class="logo" src="/assets/_c329f736-c0ec-4f70-b64f-db3066f2d096.jpg" alt="logo" />
                    <p>DOUBLEPUMP</p>
                </section>
            </nav>
        </header>

        <nav class="navbar">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                        data-bs-target="#dashboard-tab-pane" type="button" role="tab" aria-controls="dashboard-tab-pane"
                        aria-selected="true">Dashboard</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings-tab-pane"
                        type="button" role="tab" aria-controls="settings-tab-pane"
                        aria-selected="false">Instellingen</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="logout-tab" data-bs-toggle="tab" data-bs-target="#logout-tab-pane"
                        type="button" role="tab" aria-controls="logout-tab-pane" aria-selected="false">Log uit</button>
                </li>
            </ul>
        </nav>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="dashboard-tab-pane" role="tabpanel"
                aria-labelledby="dashboard-tab" tabindex="0">
                <div class="profile-header">
                    <h1 class="username">
                        <%= username %>
                    </h1>
                    <img src="<%= profilePicture %>" alt="Profile Picture" class="profile-picture">
                </div>
            </div>
            <div class="tab-pane fade" id="settings-tab-pane" role="tabpanel" aria-labelledby="settings-tab"
                tabindex="0">
                <div class="profile-header">
                    <h2>Verander uw gebruikersnaam</h2>
                    <form action="/changeUsername" method="post">
                        <input type="text" id="new-username" name="newUsername" required
                            placeholder="Vul uw nieuwe gebruikersnaam in">
                        <button type="submit" id="save-username">Opslaan</button>
                    </form>
                    <form action="/deleteUser" method="post">
                        <input type="hidden" name="username" value="<%= username %>">
                        <button type="submit" id="delete" data-bs-target="#myModal1" data-bs-toggle="modal">Verwijder
                            account</button>

                    </form>

    <section class="tab-content" id="myTabContent">
        <section class="tab-pane fade show active" id="dashboard-tab-pane" role="tabpanel" aria-labelledby="dashboard-tab" tabindex="0">
            <section class="profile-header">
                <h1 class="username">
                    <%= username %>
                </h1>
                <img src="<%= profilePicture %>" alt="Profile Picture" class="profile-picture">
                <button class="change-avatar-button" data-bs-target="#myModal" data-bs-toggle="modal">Verander Avatar</button>
                <section class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                    <section class="modal-dialog">
                        <section class="modal-content">
                            <section class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Kies een avatar</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </section>
                            <section class="modal-body">
                                <article class="avatar">
                                    <a href="#" data-bs-target="#myModal" data-bs-toggle="modal">
                                        <img src="/assets/popje3.webp" alt="Meowscles" />
                                    </a>
                                    <p>Meowscles</p>
                                </article>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
                    <div class="modal fade" id="myModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Account Verwijderen</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <!-- Modal Body -->
                                <div class="modal-body">
                                    Weet je zeker dat je je account wilt verwijderen?
                                </div>
                                <!-- Modal Footer -->
                                <div class="modal-footer">
                                    <a href="/"><button type="button" class="btn btn-danger"
                                            id="confirmDelete">Verwijderen</button></a>
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Annuleren</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="logout-tab-pane" role="tabpanel" aria-labelledby="logout-tab" tabindex="0">
                <div class="profile-header">
                    <a href="/logout"><button type="button" id="logout">Log uit</button></a>
                </div>
            </div>
        </div>

    </body>

    </html>
